:root {
  --main-brown: #EEE6DB;
  --dark-brown: #887764;
  --main-red: #A12828;
  --main-blue: #484387;
  --light-gold: #FFBF00;
  --dark-gold: #BB9010;
}
.blue_text{
  color: var(--main-blue);
  font-weight: 800;
}
.gold_text {
  color: var(--light-gold);
  font-weight: 800;
}
body{
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  background-color: var(--main-brown);
  width: 100vw;
}
/*----------------navigation-----------------*/
nav{
  margin-top: 0.5rem;
  height: 4rem;
  width: 100vw;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(238, 230, 219, .28);
}
nav>img{
  max-width: 3rem;
  margin-left: 5vw;
  margin-right: 5vw;
}
/*----------------hero-----------------*/
.hero{
  overflow: hidden;
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start ;
  text-align: center;
  background-image: url("../assets/hero_phone.png");
  background-repeat: no-repeat;
  background-size: 150vw auto;
  background-position: center bottom ;
  height: 100vh;
}
.hero>p{
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-width: 80vw;
}
.hero_lottie{
  position: relative;
  width: 80vw;
  height: auto;
}
.hero_lottie::before {
  position: absolute;
  top: -17.5vw;
  left: 10vw;
  background-image: url('../assets/hero_train.png');
  background-repeat: no-repeat;
  content: '';
  background-size: contain;
  width: 300vw;
  height: 8rem;
}
.hero_button{
  background-image: url('../assets/back_button.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  width: 50vw;
  height: 3rem;
}

/*----------------intro-----------------*/
.intro{
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8vh;
  height: fit-content;
  width: 100vw;
}
.intro>p{
  max-width: 90vw;
}
.intro>img{
  max-width: 80vw;
}
/*----------------louise-----------------*/
.louise{
  width: 100vw;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr;
}
.louise__two>p{
  color:white ;
  max-width: 80vw;
}
.louise__four>p{
  color: white;
  max-width: 50vw;
  margin-right: 5vw;
}

.louise__one{
  grid-row:  1 / span 2;
  max-width: 100vw;
}

.louise__two {
  background-image: url('../assets/louise2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
  grid-row: 2 / span 3;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20rem;
}
.louise__three {
  grid-row: 3;
  max-width: 100vw;
}
.louise__three>img{
  max-width: 100vw;
}
.louise__four {
  background-image: url('../assets/louise_back_4.svg');
  background-size: contain;
  background-repeat: no-repeat;

  grid-row: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 50vh;
}
.louise_four>img{
  align-self: flex-end;
}

/*----------------convo-----------------*/
.convo{
  width: 100vw;
  height: fit-content;
  margin: 0rem;
  padding: 0rem;
}
.year{
  width: 100vw;
}
.convo--intro{
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('../assets/container.svg');
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
}
.convo--intro>p{
  max-width: 80vw;
}
.convo--exchange{
  width: 100vw;
  height:auto ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.convo--exchange>li{
  border: #BB9010 solid 0.1rem;
  border-radius: 2rem;
  list-style: none;
  max-width: 95vw;
}
.convo--exchange>li>p {
  color: white;
  padding: 1rem 1rem;
  max-width: 80vw;
}
.text--blue{
  background-color: var(--main-blue);
}
.text--red{
  background-color: #A12828;
}
.talkers{
  width: 100vw;
}
/*----------------chapter one-----------------*/
.chapter{
  font-family: "Italianno";
  font-size: 3rem;
  color: var(--light-gold);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 4rem;
  background-image: url('../assets/chapter_one.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.departure>img{
max-width: 100vw;
}
.train_info{
  display: flex;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(99, 89, 76, 0) 0%, rgba(99, 89, 76, 0.8169861694677871) 19%, rgba(99, 89, 76, 1) 35%, rgba(99, 89, 76, 1) 100%);
  width: 100vw;
  height: 80vh;
}
.train_info>div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../assets/train_back_phone.svg');
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  background-position: center;
  width: 100vw;
  height: 60vh;
}
.train_info>div>p{
  max-width: 80vw;
}
/*----------------people-----------------*/
.people__one{
  background-color: var(--main-blue);
}
.people__two{
  background-color: #FEFEFE;
}
.people__three{
  background-color: var(--main-red);
}
.people__one>p {
  color: white;
}

.people__two>p {
}

.people__three>p {
    color: white;
}
.people__one,
.people__two,
.people__three{
  text-align: center;
  height: 40vh;
}
.people{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.people_info {
  display: flex;
  align-items: flex-end;
  background: linear-gradient(0deg, rgba(99, 89, 76, 0) 0%, rgba(99, 89, 76, 0.8169861694677871) 19%, rgba(99, 89, 76, 1) 35%, rgba(99, 89, 76, 1) 100%);
  width: 100vw;
  height: 80vh;
}

.people_info>div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../assets/people_back_phone.svg');
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  width: 100vw;
  height: 60vh;
}

.people_info>div>p {
  color: white;
  max-width: 80vw;
}
/*----------------chapter two-----------------*/
.chapter1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-image: url('../assets/chapter_one.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*----------------items-----------------*/
.item_present{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  background-image: url('../assets/items_back_phone.svg');
  background-repeat: no-repeat;
  background-size: contain;
  
}
.items__one{
  color: white;
  border: #BB9010 solid 0.1rem;
  border-radius: 2rem;
  margin-top: 2rem;
  max-width: 90vw;
 
  background-color: var(--main-blue)
}
.items__one>p{
  margin: 5vw;
  width: 80vw;
}
.items__three{
  margin-left: 5vw;
  width: 95vw;
}
/*----------------dishes-----------------*/
.dishes--info{
  background-color: var(--main-red);
}
.dishes--menu{
  list-style: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dish{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dish>img{
  max-width: 70vw;
}